<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
</head>
<body>
    <table width="40%" align="center">
        <form action="/postaction" method="post">
        <tr>
            <td>Name </td>
            <td><input type="text" id="name" name="name" value="<%= upData[0].name %>"></td>
        </tr>
        <tr>
            <td>Father Name</td>
            <td><input type="text" id="email" name="email" value="<%= upData[0].email %>"></td>
        </tr>
        <tr>
            <td> Email</td>
            <td><input type="text" id="mobi" name="mobi" value="<%= upData[0].mobile %>"></td>
        </tr>
        <tr>
            <td><input type="hidden" id="email" name="upid" value="<%= upData[0].id %>"></td>
            <td><input type="submit" name="upsubmit" value="update"></td>
        </tr>
    </table>
</form>
</body>
</html>